{% extends 'base.html.twig' %}
{% block body %}
{% if app.user %}
  {% include('teacher/teachernavbar.html.twig') %}

  <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <!-- start main page -->
      <main class="content-wrapper">
       <!-- Profile intro -->
         <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card  mdc-layout-grid__cell--span-10">
                    <section class="purchase__card_section">
                      <p >
                       <i class="material-icons mdc-theme--primary mr-1">UP</i>  <span class="bold">Update CA</span>
                      </p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
           </div>
       <!-- end intro -->

       <!-- start form -->
             <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
               <section class="mdc-card__supporting-text">
               <!-- form start -->
               {{ form_start(form) }}
                  <div class="mdc-layout-grid__inner">
                  <!-- test1 area-->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                             {{ form_row(form.test1) }}

                        </div>
                      </div>
                    </div>
                    <!-- end -->
                      <!-- test2 area-->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                             {{ form_row(form.test2) }}
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                     <!-- ind1 area-->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                             {{ form_row(form.individual1) }}
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                      <!-- ind2 area-->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                             {{ form_row(form.individual2) }}
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                      <!-- group area-->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                             {{ form_row(form.groupWork) }}
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                        <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-7-desktop">
                          <p class="align-item-center text-red">
                                   {% for messages in app.flashes('subjectmark') %}
                                      {{ messages}}
                                   {% endfor %}
                               </p>
                     </div>

                    <!-- end dept field-->
                    <!-- submit action -->
                     <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-7-desktop">
                          <p class="align-item-center">
                                       {{ form_row(form.save) }}
                               </p>
                     </div>
                    <!-- end submit action -->

                 {{ form_end(form) }}
                   <!-- end form -->
                 </section>
                 </div>
                 </div>

         <!-- end form -->

      </main>
      <!-- end main page -->
  </div>
{% endif %}
{% endblock %}