{% extends 'base.html.twig' %}
{% block body %}
{% if app.user %}
      {% include('superuser/adminnavbar.html.twig') %}
  <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
      <!-- start -->
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
                    <section class="purchase__card_section">
                      <p>
                          <span class="badge bg-primary mr-1">{{ CL |length }}</span>Semester One Subject For
                          <span class="mdc-card__title mdc-card__title--middle text-red text-uppercase "> {{ ct }}</span>
                       </p>
                    </section>
                  </div>
                   <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
                          <section class="purchase__card_section">
                                   <a href="/class/subject/{{ct}}" class="mdc-button mdc-button--raised secondary-filled-button text-lowercase mb-0" data-mdc-auto-init="MDCRipple">
                                        Add Subject To {{ ct }}
                                    </a>
                           </section>
                   </div>
                </div>
              </div>
            </div>
            <!--end-->

            <!--start table-->
           <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
             <div class="mdc-card table-responsive" style="display:block;overflow-x:scroll;">
                <div class="card" style="padding-top:3%;">
                 <div class="card-body">
                    <table id="zero_config" class="table table-striped mt-5">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th class="text-left">Subject Name</th>
                          <th>Taught By</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for temp,show in CL %}
                            <tr>
                              <td>{{ temp +1 }}</td>
                              <td class="text-left">{{ show.sub }} {{ show.syear }}</td>
                              <td>
                              {{ show.username}}
                              </td>
                            </tr>
                       {% endfor %}
                        </tbody>
                      </table>
                      </div>
                 </div>
              </div>
            </div>
            <!--end table -->
      </main>
</div>
        <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

{% endif %}

{% endblock %}