{% extends 'base.html.twig' %}
{% block body %}
  <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
      <!-- start -->
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10">
                    <section class="purchase__card_section">
                     {% if classtest | length != 0 %}
                      <p class="text-green"><span class="badge bg-success mr-1">Important info!</span> <span class="text-blue text-lowercase">{{ name }}</span> without registering Subjects, you won't  see any CA</p>
                     {% else %}
                      <p ><span class="badge bg-primary mr-1">Info register</span>Subjects for <span class="text-green text-lowercase">{{ name }}</span> </p>
                     {% endif %}
                    </section>
                  </div>
                 <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-2">
                     <section class="purchase__card_section">
                          <a href="{{path('main_engine')}}" class="mdc-button mdc-button--raised primary-filled-button  mb-0" data-mdc-auto-init="MDCRipple">
                                Back Home
                          </a>
                     </section>
                   </div>
                </div>
              </div>
            </div>
            <!--end-->

           {% if classtest|length != 0 or registered|length !=0 %}
            <!--start table-->
           <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card table-responsive" style="display:block;overflow-x:scroll;">
                <div class="card" style="padding-top:3%;">
                 <div class="card-body">
                    <table id="zero_config" class="table table-striped mt-5">
                      <thead>
                        <tr>

                          <th class="text-left">Subject Name</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>

                    {% if classtest|length != 0 %}
                       {% for temp,show in classtest %}
                            <tr>
                              <td class="text-left">{{ show.name }} {{show.syear}}</td>

                              <td>
                              <form action="/student/subject/register/action/{{regno}}/{{nt}}/{{show.id}}/{{year}}/{{semester}}" method="post">
                                <button type="submit" class="btn btn-success text-white text-lowercase mb-0" data-mdc-auto-init="MDCRipple">
                                   Register
                                </button>
                               </form>
                                </td>

                            </tr>

                       {% endfor %}
                      {% endif %}
                        {% if registered |length != 0 %}
                           {% for p in registered %}
                                <tr>
                                  <td class="text-left">{{ p.name }} {{p.syear}}</td>

                                  <td>
                                      <h3 class="badge bg-primary bold"> already registered<h3>
                                    </td>

                                </tr>
                           {% endfor %}
                       {% endif %}
                        </tbody>
                      </table>
                      </div>
                 </div>
              </div>
            </div>
            <!--end table -->
            {% else %}
                {% if classtest|length != 0 and registered|length != 0 %}
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                           <div class="mdc-card " style="background:transparent;">
                                  <p class="pl-3 text-center mt-3 mb-3 text-green">
                                     Subject for your class not found.
                                   </p>
                           </div>
                         </div>
                {% endif %}
            {% endif %}

      </main>
</div>
        <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>



{% endblock %}